body {
  margin:0;
  padding:0;
}

#header {
  position:absolute;
  top:0;
  bottom:60px;
  width:100%;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  background-color: #f1a340;
  color: #f7f7f7;
}

#map {
  position:absolute;
  top:60px;
  bottom:0;
  width:100%;
}
